<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      th,td{
        text-align: center;
        width: 30vw;
        border: 1px solid black;
        margin: 0;
      }
      h1{
        text-align: center;
      }
      table{
        margin: 0 auto;
        border-collapse: collapse;
      }
  </style>
  </head>
  <body>