<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">
    <title>Predict College</title>
  </head>
  <body> 

    <% colleges.forEach((college) => {  %> 
        
        <% var ctr=0 %> 
        <% college.branches.forEach( (branch) => {%> 
            <% if( rank <= branch.closing_rank 
                && category == branch.Category 
                && alloted_quota == branch.alloted_quota 
                && seat_pool == branch.seat_pool 
                && main_advanced == branch.iit 
                && !(branch.branch_name.includes("Architecture"))){  %> 
                <% ctr++ %> 
                <% if(ctr==1){ %> 
                    <!-- Every college should begin with its own table -->
                    <div>
                        <h1><%= college.institute_name %></h1>            
                        <table>
                            <thead>
                                <tr>
                                    <th>Branch</th>
                                    <th>Cutoff 2019</th>
                                </tr>
                            </thead>
                            
                            <tbody>
                <% } %>            
                <tr>
                    <td><%= branch.branch_name %></td>    
                    <td><%= branch.closing_rank %></td>    
                </tr>
            <% } %> 
        <% }); %> 
        <% if(ctr>0){ %> 
                    </tbody>
                </table>
            </div>
        <% } %> 
    <% });  %> 

<%- include("./partials/footer") %> 

    