<%- include("./partials/header") %> 

  <h1>Welcome to IITJEE College Predictor</h1>
  <form id="my-form" action="/colleges" method="POST">
    <label for="rank">Rank</label>
    <input type="text" id="rank" name="rank">

    <input type="radio" name="main_adv" id="main" value="false">
    <label for="main">JEE Mains</label>

    <input type="radio" name="main_adv" id="advanced" value="true">
    <label for="advanced">JEE Advanced</label>

    <label for="category">Category</label>
    <select name="category" id="category">
      <option value="OPEN">OPEN</option>
      <option value="GEN-EWS">GEN-EWS</option>
      <option value="OBC-NCL">OBC-NCL</option>
      <option value="SC">SC</option>
      <option value="ST">ST</option>
      <option value="OPEN-PwD">OPEN-PwD</option>
      <option value="GEN-EWS-PwD">GEN-EWS-PwD</option>
      <option value="OBC-NCL-PwD">OBC-NCL-PwD</option>
      <option value="SC-PwD">SC-PwD</option>
      <option value="ST-PwD">ST-PwD</option>
    </select>

    <label for="seat_pool">Seat Pool</label>
    <select name="seat_pool" id="seat_pool">
      <option value="Gender-Neutral">Gender-Neutral</option>
      <option value="Female-Only">Female-Only</option>
    </select>

    <label for="alloted_quota">Alloted Quota</label>
    <select name="alloted_quota" id="alloted_quota">
      <option value="AI">AI</option>
      <option value="HS">HS</option>
      <option value="OS">OS</option>
    </select>

    <button>Submit</button>
  </form>

<%- include("./partials/footer") %> 
