$font-family: "Zilla Slab";
$font-size-base: 1rem;
$font-sizes: (
    "ul": (
        // Ultra large font
        $font-size-base * 3,
    ),
    "xl": (
        $font-size-base * 2.5,
    ),
    "lg": (
        $font-size-base * 2,
    ),
    "md": (
        $font-size-base * 1.75,
    ),
    "sm": (
        $font-size-base * 1.5,
    ),
    "xs": (
        $font-size-base * 1.3,
    ),
    "us": (
        $font-size-base * 1.1,
    ),
);
$font-weights: (
    "thin": (
        200,
    ),
    "medium": (
        400,
    ),
    "bold": (
        600,
    ),
);
$border-radius: 10px;
$border-width: 1px;
$us: 450px; // ultra small screens
$xs: 600px;
$sm: 750px;
$md: 900px;
$lg: 1100px;
$xl: 1300px;

* {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: $font-family;
    font-weight: map-get($font-weights, thin);
}

body {
    background: url(/images/collegeListBackground.svg);
    background-size: 100vw;
}

h1,
h2 {
    padding: 10px;
    border-radius: $border-radius;
    background: white;
    color: black;
    border: $border-width * 2 solid black;
}
h1 {
    font-size: map-get($font-sizes, ul);
    margin-top: 20px;
    margin-bottom: 10px;
}
h2 {
    font-size: map-get($font-sizes, xl);
}

table {
    color: black;
    background: white;
    border: $border-width solid black;
    border-radius: $border-radius + 1.8px;
    width: 90vw;
    border-spacing: 0;
    margin: 2.5rem 0;
    line-height: 3rem;

    tbody tr:last-child {
        td:first-child {
            border-bottom-left-radius: $border-radius;
        }
        td:last-child {
            border-bottom-right-radius: $border-radius;
        }
    }

    thead tr {
        th:first-child {
            border-top-left-radius: $border-radius;
        }
        th:last-child {
            border-top-right-radius: $border-radius;
        }
    }

    th {
        font-size: map-get($font-sizes, lg);
    }
    td {
        font-size: map-get($font-sizes, sm);
    }

    th,
    td {
        border: $border-width solid black;
    }

    td:nth-child(1) {
        width: 50%;
    }
    td:nth-child(2) {
        width: 25%;
    }
    td:nth-child(3) {
        width: 25%;
    }
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 30px 0;
    width: 90vw;
    margin: 0 auto;
}

@media (max-width: $xl) {
    h1 {
        font-size: map-get($font-sizes, xl);
    }
    h2 {
        font-size: map-get($font-sizes, lg);
    }
    table {
        line-height: 2.2rem;
        th {
            font-size: map-get($font-sizes, md);
        }
        td {
            font-size: map-get($font-sizes, xs);
        }
    }
}
@media (max-width: $lg) {
    h1 {
        font-size: map-get($font-sizes, lg);
    }
    h2 {
        font-size: map-get($font-sizes, md);
    }
    table {
        line-height: 2rem;
        th {
            font-size: map-get($font-sizes, sm);
        }
        td {
            font-size: map-get($font-sizes, us);
        }
    }
}
