/* Styles are in increasing order of specificity*/
/* --------------------------------Full Page Styling-------------------------------- */
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-family: 'Zilla Slab', serif;
  font-size: 25px;
}
body {
  background: url(/images/BackgroundImage.svg) center no-repeat #ffda47;
  background-size: cover;
}
.container {
  width: 98vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
/* --------------------------------Title Styling-------------------------------- */
.title {
  font-size: 70px;
}
/* --------------------------------Form Styling-------------------------------- */
#form-div {
  width: 60%;
  height: 70vh;
  background: #bc3908;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: none;
  border-radius: 10px;
}

#my-form{
  height: 70%;
  
}

.small-div > label{
  font-size: 60px;
}

.small-div > select, .small-div > input{
  font-size: 50px;
}

/* Form tabs styling */
.input-div{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.input-div h1, .input-div > label{
  font-size: 50px;
  font-weight: bold;
}
.switch-tabs {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.tab-label {
  box-sizing: border-box;
  /* making it a flexbox just to vertically center the contents */
  display: flex;
  justify-content: center;
  align-items: center;
  
  height: 150px;
  width: 300px;
  background: #ffbe0b;
  font-size: 40px;
  border-radius: 10px;
}
.tab {
  display: none;
}
.tab:checked + .tab-label {
  border: 3px solid black;
}

/* Form inputs styling */
.input-div {
  display: none;
  width: 100%;
  justify-content: space-around;
}
.input-div input,
.input-div select {
  width: 85%;
  border-radius: 7px;
  border-width: 0px;
  text-align-last: center;
  height: 60px;
}

/* Form buttons styling*/
button {
  width: 150px;
  border-radius: 5px;
  border-width: 0px;
}

/* Progress bar dots styling */ 
.step{ 
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.progress-bar{
  margin-top: 20px;
}