/* Styles are in increasing order of specificity*/
/* --------------------------------Full Page Styling-------------------------------- */
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-family: "Commissioner", sans-serif;
  font-size: 25px;
}
body {
  background: url(/images/BackgroundImage.svg) center no-repeat #ffda47;
  background-size: cover;
}
.container {
  width: 98vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
/* --------------------------------Title Styling-------------------------------- */
.title {
  font-size: 60px;
}
/* --------------------------------Form Styling-------------------------------- */
#form-div {
  width: 80%;
  height: 70vh;
  background: tomato;
}
#my-form {
  margin: 0 auto;
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#form-main {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* Form tabs styling */
.switch-tabs {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.tab-label {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 300px;
  background: #4a1942;
  font-size: 40px;
  border-radius: 10px;
}
.tab {
  display: none;
}
.tab:checked + .tab-label {
  border: 3px solid black;
}

/* Form inputs styling */
.input-div {
  display: flex;
  justify-content: space-between;
}
.input-div input,
.input-div select {
  width: 60%;
  border-radius: 7px;
  border-width: 0px;
  text-align-last: center;
}

/* Form buttons styling*/
button {
  width: 150px;
  border-radius: 5px;
  border-width: 0px;
}
